<div class="container-fluid p-0 desktop-banner">
  <div class="row m-0">
    <div class="col-lg-6 p-0">
      <div class="left">
        {% if section.settings.heading != blank %}
          <h1>{{ section.settings.heading }}</h1>
        {% endif %}
        {% if section.settings.shop_lebel != blank %}
          <a href="{{ section.settings.shop_url }}" class="btn">{{ section.settings.shop_lebel }}</a>
        {% endif %}
        <div class="client">
          <div class="client-img">
            {% if section.settings.after_before_image != blank %}
              <img src="{{ section.settings.after_before_image | img_url: 'master' }}">
            {% endif %}
          </div>
          <div class="client-info">
            {% if section.settings.msg != blank %}
              <h4>{{ section.settings.msg }}</h4>
            {% endif %}
            {% if section.settings.client_name != blank %}
              <h6>{{ section.settings.client_name }}</h6>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 p-0">
      <div class="right">
        {% if section.settings.banner_img != blank %}
          <img src="{{ section.settings.banner_img | img_url: 'master' }}">
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% comment %} Mobile banner {% endcomment %}
<div class="container-fluid p-0 mobile-banner">
  <div class="row m-0">
    <div class="col-lg-6 p-0">
      <div class="left">
        {% if section.settings.heading != blank %}
          <h1>{{ section.settings.heading }}</h1>
        {% endif %}
        {% if section.settings.shop_lebel != blank %}
          <a href="{{ section.settings.shop_url }}" class="btn">{{ section.settings.shop_lebel }}</a>
        {% endif %}
        <div class="client">
          <div class="client-img">
            {% if section.settings.after_before_image != blank %}
              <img src="{{ section.settings.after_before_image | img_url: 'master' }}">
            {% endif %}
          </div>
          <div class="client-info">
            {% if section.settings.msg != blank %}
              <h4>{{ section.settings.msg }}</h4>
            {% endif %}
            {% if section.settings.client_name != blank %}
              <h6>{{ section.settings.client_name }}</h6>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 p-0">
      <div class="right">
        {% if section.settings.banner_img != blank %}
          <img src="{{ section.settings.banner_img | img_url: 'master' }}">
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner with text",
  "tag": "section",
  "class": "banner-text",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Banner Heading"
    },
    {
      "type": "text",
      "id": "shop_lebel",
      "label": "Shop Label"
    },
    {
      "type": "url",
      "id": "shop_url",
      "label": "Shop Url"
    },
    {
      "type": "image_picker",
      "id": "after_before_image",
      "label": "After before image"
    },
    {
      "type": "richtext",
      "id": "msg",
      "label": "Client Massege"
    },
    {
      "type": "richtext",
      "id": "client_name",
      "label": "Client Name"
    },
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "Banner image"
    }
  ],
  "presets": [
    {
      "name": "Banner with text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
