{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}
<script defer src="{{ 'owl.carousel.js' | asset_url }}"></script>
<script defer src="{{ 'custom.js' | asset_url }}"></script>
<div class="container-fluid">
  <div class="heading">
    {% if section.settings.heading != blank %}
      <h2 class="text-center">{{ section.settings.heading }}</h2>
    {% endif %}
  </div>
  <div class="owl-carousel owl-theme" id="clientfeedback">
    {% for block in section.blocks %}
      <div class="item">
        <div class="client-image">
          {% if block.settings.after_before_image != blank %}
            <img src="{{ block.settings.after_before_image | img_url: 'medium' }}" />
          {% endif %}
        </div>
        <div class="client-info">
          {% if block.settings.msg != blank %}
            {{ block.settings.msg }}
          {% endif %}
          {% if block.settings.client_name != blank %}
            {{ block.settings.client_name }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Client Feedback",
    "tag": "section",
    "class": "client-feedback",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Feedback Heading"
      }
    ],
    "blocks": [
      {
        "type": "feedback",
        "name": "feedback",
        "settings": [
          {
            "type": "image_picker",
            "id": "after_before_image",
            "label": "After before image"
          },
          {
            "type": "richtext",
            "id": "msg",
            "label": "Client Massege"
          },
          {
            "type": "richtext",
            "id": "client_name",
            "label": "Client Name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Client Feedback"
      }
    ]
  }
{% endschema %}