<script defer src="{{ 'custom.js' | asset_url }}"></script> 
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3">
          <div class="faq_content">
              <ul>
                  {% if section.settings.most_ask != blank %}
                  <li><a href="#mostask">{{ section.settings.most_ask }}</a></li>
                  {% endif %} {% if section.settings.product_info != blank %}
                  <li><a href="#prodinfo">{{ section.settings.product_info }}</a></li>
                  {% endif %} {% if section.settings.order != blank %}
                  <li><a href="#order">{{ section.settings.order }}</a></li>
                  {% endif %} {% if section.settings.shipping != blank %}
                  <li><a href="#shipping">{{ section.settings.shipping }}</a></li>
                  {% endif %} {% if section.settings.subs != blank %}
                  <li><a href="#subscriber">{{ section.settings.subs }}</a></li>
                  {% endif %} {% if section.settings.com_info != blank %}
                  <li><a href="#company">{{ section.settings.com_info }}</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
      <div class="col-lg-9">
          <div class="faq">
              {% for block in section.blocks %}
              <div class="full-faq" id="mostask">
                  {% if block.type == 'heading' %}
                  <div class="heading">
                      {% if block.settings.faq_head != blank %}
                      <h2>{{ block.settings.faq_head }}</h2>
                      {% endif %}
                  </div>
                  {% endif %}
                  <div class="accordion">
                      {% if block.type == 'most_asked_questions' %}
                      <div class="accordion-item">
                          {% if block.settings.question != blank %}
                          <div class="accordion-titel clickable">
                              <h4>
                                  {{ block.settings.question }} <span><i class="fa-solid fa-angle-down"></i></span>
                              </h4>
                          </div>
                          {% endif %} {% if block.settings.answer != blank %}
                          <div class="accordion-contant">
                              <p>{{ block.settings.answer }}</p>
                          </div>
                          {% endif %}
                      </div>
                      {% endif %}
                  </div>
                  <div class="accordion">
                      {% if block.type == 'product_info' %}
                      <div class="accordion-item" id="prodinfo">
                          {% if block.settings.question != blank %}
                          <div class="accordion-titel clickable">
                              <h4>{{ block.settings.question }}</h4>
                          </div>
                          {% endif %} {% if block.settings.answer != blank %}
                          <div class="accordion-contant">
                              <p>{{ block.settings.answer }}</p>
                          </div>
                          {% endif %}
                      </div>
                      {% endif %}
                  </div>
                  <div class="accordion">
                      {% if block.type == 'order_payment' %}
                      <div class="accordion-item" id="order">
                          {% if block.settings.question != blank %}
                          <div class="accordion-titel clickable">
                              <h4>{{ block.settings.question }}</h4>
                          </div>
                          {% endif %} {% if block.settings.answer != blank %}
                          <div class="accordion-contant">
                              <p>{{ block.settings.answer }}</p>
                          </div>
                          {% endif %}
                      </div>
                      {% endif %}
                  </div>
                  <div class="accordion">
                      {% if block.type == 'shipping' %}
                      <div class="accordion-item" id="shipping">
                          {% if block.settings.question != blank %}
                          <div class="accordion-titel clickable">
                              <h4>{{ block.settings.question }}</h4>
                          </div>
                          {% endif %} {% if block.settings.answer != blank %}
                          <div class="accordion-contant">
                              <p>{{ block.settings.answer }}</p>
                          </div>
                          {% endif %}
                      </div>
                      {% endif %}
                  </div>
                  <div class="accordion">
                      {% if block.type == 'subscribe' %}
                      <div class="accordion-item" id="subscriber">
                          {% if block.settings.question != blank %}
                          <div class="accordion-titel clickable">
                              <h4>{{ block.settings.question }}</h4>
                          </div>
                          {% endif %} {% if block.settings.answer != blank %}
                          <div class="accordion-contant">
                              <p>{{ block.settings.answer }}</p>
                          </div>
                          {% endif %}
                      </div>
                      {% endif %}
                  </div>
                  <div class="accordion">
                      {% if block.type == 'company' %}
                      <div class="accordion-item" id="company">
                          {% if block.settings.question != blank %}
                          <div class="accordion-titel clickable">
                              <h4>{{ block.settings.question }}</h4>
                          </div>
                          {% endif %} {% if block.settings.answer != blank %}
                          <div class="accordion-contant">
                              <p>{{ block.settings.answer }}</p>
                          </div>
                          {% endif %}
                      </div>
                      {% endif %}
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "Multiple Question",
    "tag": "section",
    "class": "multiple-question",
    "settings": [
      {
        "type": "text",
        "id": "most_ask",
        "label": "Most Asked Questions Head"
      },
      {
        "type": "text",
        "id": "product_info",
        "label": "Product Info Head"
      },
      {
        "type": "text",
        "id": "order",
        "label": "Orders, Payments & Refunds Head"
      },
      {
        "type": "text",
        "id": "shipping",
        "label": "Shipping & Delivery Head"
      },
      {
        "type": "text",
        "id": "subs",
        "label": "Subscribe & Save"
      },
      {
        "type": "text",
        "id": "com_info",
        "label": "Company Info"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "richtext",
            "id": "faq_head",
            "label": "Question Answer Heading"
          }
        ]
      },
      {
        "type": "most_asked_questions",
        "name": "Most Asked Questions",
        "settings": [
          {
            "type": "richtext",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      },
      {
        "type": "product_info",
        "name": "Product Info",
        "settings": [
          {
            "type": "richtext",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      },
      {
        "type": "order_payment",
        "name": "Orders Payments Refunds",
        "settings": [
          {
            "type": "richtext",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      },
      {
        "type": "shipping",
        "name": "Shipping & Delivery",
        "settings": [
          {
            "type": "richtext",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      },
      {
        "type": "subscribe",
        "name": "Subscribe & Save",
        "settings": [
          {
            "type": "richtext",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      },
      {
        "type": "company",
        "name": "Company Info",
        "settings": [
          {
            "type": "richtext",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Multiple Question"
      }
    ]
  }
{% endschema %}